*{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.heading *{
    background-color: #777777;
    text-align: center;
    padding:5px;
    font-size: 50px;
    font:bold;
    align-content: center;
    color: #f27940;
}
.container *{
    background-color: white;
    padding:0 20px;
    text-align: center;
}
.row2{
    padding: 5px;
}
.mr3{
    width: 25%;
}
img{
    display:block;
    margin: 0 auto;
}
.button{
    float: center;
}

.footer{
    background-color: #777777;
    color:white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom:0;
    width:100%; 
    border-top: 6px solid #ffffff;

}
.clearfix{
    display:block;
    clear:both;
    margin-bottom: 30px;
}